/**** Reset ****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;outline:0;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/**** Fonts ****/
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome-webfont.ttf') format('truetype'),
		url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;}
/**** Varibles, Mixins ****/
@darkgrey:rgba(37,37,37,1);
@grey:#333333;
@white:rgba(255,255,255,1);
@offwhite:rgba(200,200,200,1);
@offwhite2:rgba(180,180,180,1);
@red:rgba(169,7,7,1);
.mainfont{
	font-family: Segoe UI;
	font-weight: lighter;}
/**** Common ****/
.page{
	width: 100%;
	height: 100%;
	color: @white;}
.button{
	display: block;
	text-align: center;
	min-width: 90px;
	height: 32px;
	padding: 4px 14px;
	background-color: @white;
	border: none;
	color: @darkgrey;}
.button:hover{
	cursor: pointer;}
.button:active{
	color: @white;
	background-color: rgba(0,0,0,1)}
.leftBar{
	float: left;
	width: 300px;
	height: 100%;
	background-color: #333333;}
.leftBar h1{
	padding: 20px;
	font-size: 40px;}
.leftBar ul{
	width: 300px;
	list-style: none;}
.leftBar ul li{
	float: left;
	width: 300px;}
.leftBar ul li:hover{
	cursor: pointer;
	background-color: @red;/*rgba(40,40,40,1)*/}
.leftBar ul li span{
	padding: 0 0 0 20px;
	font-size: 20px;
	line-height: 40px;
	text-decoration: none;
	color: #ffffff;}
/**** Main ****/
html, body{
	width: 100%;
	height: 100%;
	font-family: Segoe UI;
	font-weight: lighter;
	background-color:@darkgrey;
	overflow: hidden;}
/**** Scrollbar Test ****/


/********/
header{
	background-color: @red;
	height: 60px;
	background: -moz-linear-gradient(left,  #a90707 0%, #a04646 50%, #a90707 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a90707), color-stop(50%,#a04646), color-stop(100%,#a90707));
	background: -webkit-linear-gradient(left,  #a90707 0%,#a04646 50%,#a90707 100%);
	background: -o-linear-gradient(left,  #a90707 0%,#a04646 50%,#a90707 100%);
	background: -ms-linear-gradient(left,  #a90707 0%,#a04646 50%,#a90707 100%);
	background: linear-gradient(to right,  #a90707 0%,#a04646 50%,#a90707 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90707', endColorstr='#a90707',GradientType=1 );}
#logo{
	float: left;
	display: block;
	height: 60px;
	width: 140px;
	font-size: 30px;
	line-height: 55px;
	text-align: center;
	color: @white;}
#logo:hover{
	cursor: pointer;}
#controls{
	position: absolute;
	margin: 0 0 0 -90px;
	left: 50%;
	right: 50%;
	width: 180px;}
.controlButton{
	display: block;
	float: left;
	height: 60px;
	width: 60px;
	padding: 0 20px;
	border: none;
	background: none;
	color: @white;
	font-size: 30px;
	line-height: 55px;}
.controlButton:hover{
	color: @offwhite;
	cursor: pointer;}
#headerRight{
	float: right;
	height: 60px;}
.navButton{
	float: left;
	display: block;
	height: 60px;
	line-height: 55px;
	font-size: 28px;
	border: 0;
	padding: 0;
	margin: 0 10px;
	background-color: rgba(0,0,0,0);
	color: @white;}
.navButton:last-child{
	margin: 0 20px 0 10px;}
.navButton:hover{
	cursor: pointer;}
.navButtonI{
	display: block;
	width: 0;
	float: right;
	transition: width 0.5s, opacity 0.5s;
	-moz-transition: width 0.5s, opacity 0.5s;
	color: @white;
	opacity: 0;
	line-height: 52px;
	.mainfont}
.navButton:hover .navButtonI{
	padding: 0 0 0 20px;
	width: 100px;
	opacity: 1;}
/**** Dialog , Notifications ****/
#dialogDark{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;}
#dialog{
	position: absolute;
	width: 100%;
	height: 200px;
	top: 50%;
	margin: -100px 0;
	background-color: @red;}
#dialogI{
	position: relative;
	width: 920px;
	height: 160px;
	padding: 20px;
	margin: 0 auto;}
#dialogI h1{
	font-size: 40px;
	padding: 0 0 20px 0;
	color: @white;}
#dialogI p{
	font-size: 20px;
	color: @white;}
#dialogI button{
	float: right;
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 4px 14px;}
#notification{
	position: absolute;
	top: 150px;
	right: 0;
	width: 350px;
	height: 74px;
	background-color: @red;}
#notification #songimage{
	float: left;
	width: 74px;
	height: 74px;}
#songname{
	padding: 10px 0 0 10px;}
#songartist{
	padding: 18px 0 0 10px;}
#songname, #songartist{
	display: block;
	float: left;
	width: 224px;
	color: @white;}
#notificationIcon{
	position: relative;
	float: right;
	bottom: 10px;
	right: 10px;
	display: block;
	color: @offwhite;}
#loadingSplash{
	z-index: 4;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: @grey;}
#loadingSplashI{
	height: 10px;
	width: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -200px;}
#loadingSplashI span{
	display: block;
	color: @white;
	font-size: 100px;
	width: 400px;
	text-align: center;}
/**** Main Page ****/
#mD, #nE{
	margin: 20px;}
/**** Stations Page ****/
#stationsPage{}
#stationContainer{
	overflow-y: scroll;
	margin: 0 0 0 300px;
	padding: 30px 0 0 0;}
.station{
	float: left;
	position: relative;
	width: 300px;
	height: 120px;
	background-color: @grey;
	margin: 0 30px 30px 30px;
	outline: 4px solid transparent;}
.station:hover{
	cursor: pointer;
	outline: 4px solid @offwhite;}
.station img{
	float: left;
	width: 120px;
	height: 120px;}
.station .sTitle{
	display: block;
	float: left;
	height: 36px;
	line-height: 20px;
	padding: 0 10px 0 10px;
	line-height: 36px;}
.station .sTitle:first-child{
	height: 37px;
	line-height: 37px;
	padding: 10px 10px 0 10px;}
.station .sTitle:last-child{
	height: 37px;
	line-height: 37px;
	padding: 0 10px 10px 10px;}
/**** Settings Page ****/
#settingsPage #settingsLeft{}