/**** Reset ****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/**** Fonts ****/
@font-face {
font-family: 'FontAwesome';
src: url('../fonts/fontawesome-webfont.eot');
src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/fontawesome-webfont.woff') format('woff'),
	url('../fonts/fontawesome-webfont.ttf') format('truetype'),
	url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
font-weight: normal;
font-style: normal;}
/**** Varibles, Mixins ****/
.mainfont{
	font-family: Segoe UI;
	font-weight: lighter;}
@darkgrey:rgba(37,37,37,1);
@white:rgba(255,255,255,1);
@red:rgba(169,7,7,1);
/**** Common ****/
.page{
	padding: 20px;
	color: @white;}
/**** Main ****/
html, body{
	font-family: Segoe UI;
	font-weight: lighter;
	background-color:@darkgrey;
	overflow: hidden;}
header{
	background-color: @red;
	height: 60px;}
#logo{
	float: left;
	display: block;
	height: 60px;
	width: 120px;
	font-size: 30px;
	line-height: 55px;
	text-align: center;
	color: @white;}
#logo:hover{
	cursor: pointer;}
#headerRight{
	float: right;
	height: 60px;}
.navButton{
	float: left;
	display: block;
	height: 60px;
	line-height: 55px;
	font-size: 28px;
	border: 0;
	padding: 0;
	margin: 0 10px;
	background-color: rgba(0,0,0,0);
	color: @white;}
.navButton:last-child{
	margin: 0 20px 0 10px;}
.navButton:hover{
	cursor: pointer;}
.navButtonI{
	display: block;
	width: 0;
	float: right;
	transition: width 0.5s, opacity 0.5s;
	-moz-transition: width 0.5s, opacity 0.5s;
	color: @white;
	opacity: 0;
	.mainfont}
.navButton:hover .navButtonI{
	padding: 0 0 0 20px;
	width: 100px;
	opacity: 1;}
/**** Popup Box ****/
.popupBox{

}
/**** Main Page ****/
/**** Settings Page ****/
#settings h1{
	font-size: 40px;
}